body{
	
}

#main{
	background:#f4f7fa;
	width:100%;
	height:80px;
	position:fixed;
	top:0;
	
}

#container{
display:flex;
justify-content: space-between;
}

#container img{
height:35px;
width:35px;
margin-top:15px;
margin-left:60px;

}

#container h1{
font-size:13px;	
margin-top:30px;
color:#0a2e65;
}

#img2{
	border-radius:50px;
	border:2px solid white;
	margin-right:10px;
}

#aside{
background:#f4f7fa;
height:600px;	
width:200px; 
position:fixed;
top:79px;
left:0;
}

#aside h1{
	text-align: center;
	color:#0a2e6580;
}

#innerh1{
	color:#0a2e6533;
}

#aside h2 {
	text-align:center;
	color:#0066f5;
	font-size:18px;
	line-height:5px;
}

.logo {
	height:20px;
	width:20px;
	color:#0066f5;

}

.home {
background:;
display:flex;
align-items: center;
padding: 0px 2px;
padding-left:30px ;
height:60px;
width:100%;
margin-bottom:5px;
box-sizing: border-box;
text-align: left;
}

.home img{
	margin-right: 20px;
}

#contain{
background:white;
position: relative;
height: 78vh;
width:85%;
top:10vh;
left:14vw;
border-radius: 15px;
overflow-x:auto ; 
}

#contain1{
	height: 150vh;


}

#contain01{
background:;	
width:100%;
height:200px;
}


#inner-box1{


display:flex;

}

#inner-box1 p{
	margin-left:30px;
	
}

#N1{
 margin-left:30px;	
}

#N{
	font-size:50px;
	color:#0a2e65;

}

#Np{
margin-left:150px;
}

#inner-box2{
	background:;
	width:100%;
	height:400px;
}

#get{
	display:flex;
	justify-content:space-between;
}

#in-h1{
	margin-right:150px;
	font-size:40px;
	color:grey;
}

#inn-h1{
	margin-left:40px;
	font-size:40px;
	color:grey;
}

#inner-container{
	display:flex;
	background:;
	width:100%;
	height:200px;
}

#pair{
	background:#ffe6eb;
	height:100%;
	width:230px;
	margin-right:30px;
	margin-left:40px;
	border-radius: 8px;
	border:1px solid #ffe6eb;
}


#pair1{
background:#f6f6e7;
	height:100%;
	width:230px;
	margin-right:30px;
	border-radius: 8px;	
	
}

#pair2{
	background:#f6f6e7;
	height:100%;
	width:230px;
	margin-right:100px;
	border-radius: 8px;
	
}

#lone{
	background:#0066f5;
	height:100%;
	width:290px;
	margin-right:20px;
	border-radius: 8px;
}

#money{
	color:#0a2665;
	font-size:25px;
	margin-left: 20px;
}

.money1{
	margin-left: 20px;
	color:#0a2e6599;
	margin-top:-10px;

}

#money1{
	color:#03297c;
	margin-top: 50px;
}

.img{
	height:50px;
	margin-left:20px;
	padding-top:25px;

}

#img{
	height:70px;
	margin-left:20px;
	margin-top:20px;

}

.um{
margin-left: 20px;
	color:#03297c;
	margin-top:72px;

}

#inum{
margin-top:-18px;	
margin-left: 20px;
color:#03297c;
}

.pgift{
	color:white;
	margin-left: 27px;

}

#total{
	color:#0066f5;
}

#port{
	color:#0a2656;
}

#₦{
color:#0a2e65;

}

#sub{
	color:#0a2e65;
}

#Np{
	color:#0a2e6599;
}

#inner-box3{
background:;
height:17%;
display:flex;
}

#inner-bx1{
	background:;
	height:530px;
	width:69%;
	border:2px solid #f6f6e7; 
	border-radius: 8px;

}

#inner-bx2{
background:;
height:250px;	
width:38%;
margin-left:50px;
margin-right:-0px;
border-radius: 8px;
border:2px solid #f6f6e7;
}

#inner-bx3{
background:;	
height:250px;	
width:38%;
margin-top: 280px;
margin-left:-380px;
margin-right:20px;
border-radius: 8px;
border:2px solid #f6f6e7; 
}

.risk{
color:#0a2e65; 
margin-left:20px;
font-size: 15px;
}

#in-risk{
	display:flex;

}

#inner-risk{
	background:;
	height:250px;
	width:200px;
	margin-left:90px;
	margin-top:100px;



}

#inner-risk1{
	background:;
	height:310px;
	width:200px;
	margin-top: 40px;
	margin-left:100px;
	
}

#score{
	height:60px;
	width:60px;
	margin-left:200px;
}

.net{
color:#0a2e65;
font-size: 25px;
}

#net1{
	font-size:30px;
}

#dot{
color:#0066f5;
font-size:30px;
}

#dot2{
color:#5a68fb;
font-size:30px;
}

#dot3{
color:#bfc8d9;
font-size:30px;	
}

.s{
color:#373d3f;
}

#four{
font-size:70px;
}

#hun{
color:;
}

.set{
	color:#0a2e654d;
}

#review{
	color:#0066f5;
	margin-left:80px;
}

#inset{
	font-size:23px;
	margin-left:80px;
}

#inset2{
margin-left:30px;
}
